body {
    background: #1f1c1c;
    height: 2000px;
}

.content {
    padding-bottom: 40px;
}

.text {
    margin-bottom: 300px;
    color: #888888;
}

.container {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    padding-bottom: 100px;
}

.rectangle {
    width: 50%;
    height: 100px;
    background-color: #f0f0f0;
    position: fixed;
}

.circle {
    width: 70px;
    height: 70px;
    background-color: rgb(173, 50, 50);
    border-radius: 50%;
    transform: translate(85%, -50%);
}
