body {
    display: flex;
    justify-content: center;
    background: rgb(41, 39, 39);
}

.title {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 600;
    margin-top: 50px;
}

.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
}

.red {
    background: firebrick;
    position: absolute;
    top: 30px;
    left: 700px;
}

.blue {
    background: rgb(17, 79, 172);
    position: absolute;
    top: 30px;
    right: 700px;
}