.a-1 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300px;
}
.a-3 {
    font-family: "Playfair Display", serif;
    text-align: center;
    font-weight: 800px;
    text-transform: uppercase;

}
.a-4 {
    color: blueviolet;
    word-spacing: 30px;
    text-decoration: overline wavy green;
}
.a-5 {
    letter-spacing: 5px;
}